html
  head
    title= "[giffing intensifies]"
  body
    h1 [giffing intensifies]
    form
      input(type='text', name='word')
      button intensify
    hr
    form
      input(type='file', name='image')
      button intensify image